/* Barlow Condensed font import */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Barlow Condensed", sans-serif;
}

button:hover { 
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1rem);
  grid-template-rows: repeat(10, 1rem);
}

.cell {
  border: solid black 1px;
}

.unattacked {
  background-color: lightgrey;
}

.unattacked:hover {
  cursor: pointer;
}

.ship-location {
  background-color: green;
}

.hit {
  background-color: red;
}

.missed {
  background-color: grey;
}

.hidden {
  display: none;
}